<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script>
  $('#upvote').click(function(){
  	console.log("upvote clicked")
  });

  $('#downvote').click(function(){
  	console.log("downvote clicked")
  });

  var categories = <%= @categories %>;
  var data = <%= @data %>;

  $(function () {
    $('#container-x').highcharts({
        chart: {
            type: "spline",
            backgroundColor: "#dde1dc"
        },
        credits: {
        	enabled: false
        },
        legend: {
        	enabled: false
        },
        plotOptions: {
            series: {
                marker: {
                    enabled: false
                },    
            	color: '#23454b'
            },
        },
        title: {
            text: null,
            x: -20 //center
        },
        xAxis: {
            categories: categories.map(function(x) {return x + ":00"}),
            lineWidth: 0,
            tickLength: 0,
            tickInterval: 5
        },
        yAxis: {
        	floor: 0,
            plotLines: [{
                value: 0,
                width: 0,
                color: '#808080'
            }],
            gridLineWidth: 0,
            title: {
            	text: null
            },
            // minPadding: null
        },
        // legend: {
        //     layout: 'vertical',
        //     align: 'right',
        //     verticalAlign: 'middle',
        //     borderWidth: 0
        // },
        series: [{
            // A little hack to make the line look nicer when y == 0
            data: data,//.map(function(x) {if (x == 0) { return x + .2} else { return x } }),
            name: "Cluelesses"
        }]
    });
});

</script>
<h1 id="title">Cluelesses</h1>

<div id="container-x" style="min-width: 310px; height: 500px; margin: 0 5%"> <%= @data %></div>

<h2 id="newQlink">
	<%= link_to "Add new Question", "questions/new" %>
</h2><br>
<% @questions.each do |question| %>
	
	<div class="quest">
	  <div class="span1">
	  	<%= form_for @vote, {url: question_votes_path(question) } do |f| %>
    		<%= f.hidden_field :vote_type, value: 'upvote' %>
	    <button type="submit" id="upvote" class="btn btn-sm btn-success btn-upvote">
	      <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;
	    </button><br>
    	<% end %>
	    <span class="count"><%= question.upvote - question.downvote %></span><br>
	    <%= form_for @vote, {url: question_votes_path(question) } do |f| %>
    		<%= f.hidden_field :vote_type, value: 'downvote' %>
	    <button type="submit" id="downvote" class="btn btn-sm btn-danger btn-downvote">
	      <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
	    </button>
    	<% end %>
	  </div>
	  <div class="span8 question">
	    <pre><%= link_to question.text, "questions/#{question.id}" %></pre>
	  </div>
	</div>

	<% @answers.where(question_id:question.id).order('upvote - downvote DESC').each do |answer| %>

		<div class="ans">
		  <div class="span1">
		  	<%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
      			<%= f.hidden_field :vote_type, value: 'upvote' %>
		    <button type="submit" id="upvote" class="btn btn-sm btn-success btn-upvote">
		      <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;
		    </button><br>
		    <% end %>
		    <span class="count"><%= answer.upvote - answer.downvote %></span><br>
		    <%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
      			<%= f.hidden_field :vote_type, value: 'downvote' %>
		    <button type="submit" id="downvote" class="btn btn-sm btn-danger btn-downvote">
		      <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
		    </button>
		    <% end %>
		  </div>
		  <div class="span6 answer">
		    <pre><%= answer.text %></pre>
		  </div>
		</div>

	<% end %>
	

<% end %>
<!-- </body>
</html> -->
