<h3>New Question</h3>

<%= form_for @question, url: {action: 'create'} do |f| %>
	<%= f.label :text %>
	<%= f.text_area :text %>
	<%= f.hidden_field :upvote, value: 1 %> 
	<%= f.hidden_field :downvote, value: 0 %>
	<%= f.submit %>
<% end %>
