<h3>Display an individual question</h3>
<%= link_to "Return to all questions", question_path %>
<table class='qTable'>
<td>
  <%= form_for @vote, {url: question_votes_path(@question) } do |f| %>
    <%= f.hidden_field :vote_type, value: 'upvote' %> 
	<button id="upvote" type="submit" class="btn btn-success btn-sm btn-upvote"><div style="font-size:1.5em"><b>^</b></div></button>
  <% end %>
<br>
	<%= @question.upvote - @question.downvote %>
<br>
  <%= form_for @vote, {url: question_votes_path(@question)} do |f| %>
    <%= f.hidden_field :vote_type, value: 'downvote' %>
	<button id="downvote" type="submit" class="btn btn-danger btn-sm"><div style="font-size:1.5em"><b>v</b></div></button>
  <% end %>
</td>

<td>
	 <%= @question.text %>
</td>
</table>
<br>
<br>
<table class='aTable'>


<% @answers.each do |answer| %>
<tr>

	<td>
    <%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
      <%= f.hidden_field :vote_type, value: 'upvote' %>
		<button id="upvote" type="submit" class="btn btn-success btn-sm btn-upvote"><div style="font-size:1.25em"><b>^</div></button>
    <% end %>
	<br>
	<%= answer.upvote-answer.downvote %>
	<br>
    <%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
    <%= f.hidden_field :vote_type, value: 'downvote' %>
		<button id="downvote" type="submit" class="btn btn-danger btn-sm"><div style="font-size:1.25em"><b>v</div></button>
  <% end %>
	</td>
	<td>
		<%= answer.text %>
	</td>
</tr>
<td><br></td>
<tr>
</tr>
	<% end %>
<table>
<br>
<br>
<tr>
	<td>
<%= form_for @answer, {url: question_answers_path(@question)} do |f| %>
	<%= f.label :text, "Your Answer" %>
	<%= f.text_field :text, placeholder: 'Answer' %>
	<%= f.hidden_field :question_id, value: @question.id %>
	<%= f.submit "Submit Answer" %>
<% end %>

	</td>

</td>


<style>
	.qTable{
		margin-left:.5em;
		font-size:1.5em;
	}
	.aTable {
		margin-left:5em;
		font-size:1.25em;
	}
</style>

<script>
  $('#upvote').click(function(){
  	console.log("upvote clicked")
  });

  $('#downvote').click(function(){
  	console.log("downvote clicked")
  });

</script>

