<h2 id="title"><a id="colorz" href="https://www.youtube.com/watch?v=ruwWPj3OdA4">A Wild Question Appears</a></h2>&nbsp;
<h4 id="newQlink"><%= link_to "Return to all questions", "/questions" %></h4>&nbsp;

<div class="quest">
  <div class="span1">
    <%= form_for @vote, {url: question_votes_path(@question) } do |f| %>
      <%= f.hidden_field :vote_type, value: 'upvote' %>
      <%= f.hidden_field :content_id, value: @question.id %>
      <%= f.hidden_field :content_type, value: 'question' %>
    <button type="submit" id="upvote" class="btn btn-sm btn-success btn-upvote">
      <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;
    </button><br>
    <% end %>
    <span class="count question-<%= @question.id%>-score"><%= @question.upvote - @question.downvote %></span><br>
    <%= form_for @vote, {url: question_votes_path(@question) } do |f| %>
      <%= f.hidden_field :vote_type, value: 'downvote' %>
      <%= f.hidden_field :content_id, value: @question.id %>
      <%= f.hidden_field :content_type, value: 'question' %>
    <button type="submit" id="downvote" class="btn btn-sm btn-danger btn-downvote">
      <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
    </button>
    <% end %>
  </div>
  <div class="span8 question">
    <pre style='<%= @question.vetted ? "background-color:#bfd9ba;" : "background-color:#F0F0F0" %>' >
		<%= @question.text %></pre>
		<%= form_for @question, {url: question_vet_path(@question)} {|f| f.submit 'Vet Question', class: "btn btn-success btn-xs vet-button"} if current_user.presenter == true %>
	<!-- </pre> -->
  </div>
</div>

<% @answers.each do |answer| %>

  <div class="ans">
    <div class="span1">
      <%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
        	<%= f.hidden_field :vote_type, value: 'upvote' %>
        	<%= f.hidden_field :content_id, value: answer.id %>
    		<%= f.hidden_field :content_type, value: 'answer' %>
      <button type="submit" id="upvote" class="btn btn-sm btn-success btn-upvote">
        <span class="glyphicon glyphicon-arrow-up"></span>&nbsp;
      </button><br>
      <% end %>
      <span class="count answer-<%= answer.id%>-score"><%= answer.upvote - answer.downvote %></span><br>
      <%= form_for @vote, {url: answer_votes_path(answer) } do |f| %>
        	<%= f.hidden_field :vote_type, value: 'downvote' %>
        	<%= f.hidden_field :content_id, value: answer.id %>
    		<%= f.hidden_field :content_type, value: 'answer' %>
      <button type="submit" id="downvote" class="btn btn-sm btn-danger btn-downvote">
        <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;
      </button>
      <% end %>
    </div>
    <div class="span6 answer">
      <pre style='<%= answer.vetted ? "background-color:#bfd9ba;" : "background-color:#F0F0F0;" %>' >
		  <%= answer.text %></pre>
    	<%= form_for answer, {url: answer_vet_path(answer)} {|f| f.submit 'Vet Answer', class: "btn btn-success btn-xs vet-button" } if current_user.presenter == true %>
    </div>
  </div>
<% end %>


<br>
<br>
<div class="newQ">
  <%= form_for @answer, {url: question_answers_path(@question)} do |f| %>
  	<%= f.label :text, "Your Answer" %>
    <%= f.text_area :text, placeholder: 'Answer', class: "newA" %>&nbsp;
  	<%= f.hidden_field :question_id, value: @question.id %>
  	<%= f.submit "Submit Answer", class: "btn btn-success" %>
  <% end %>
</div>



<style>
	.qTable{
		margin-left:.5em;
		font-size:1.5em;
	}
	.aTable {
		margin-left:5em;
		font-size:1.25em;
	}

  .vet-button {
    float: right;
  }

</style>

<script>
  $('#upvote').click(function(){
  	console.log("upvote clicked")
  });

  $('#downvote').click(function(){
  	console.log("downvote clicked")
  });

$("form.new_vote").submit(function(e){
	e.preventDefault();

	var contentType = $(this).children('#vote_content_type').val()
	var contentId = $(this).children("#vote_content_id").val()
	var score = parseInt($('.' + contentType + '-' + contentId + '-score').text())
	var voteType = $(this).children('#vote_vote_type').val()

	var data = {
  			utf8: "\u2713",
			authenticity_token: $('input[name=authenticity_token]').val(),
			vote: {vote_type: voteType}
	}

	data[contentType + '_id'] = contentId
	
	$.ajax({
  		type: "POST",
  		url: "/" + contentType + "s/" + contentId + "/votes",
  		data: data
	}).success(function(){
		voteType === 'upvote' ? score++ : score--
		$("." + contentType + "-" + contentId + '-score').text(score)
	})

});
</script>

