<h3>Display an individual question</h3>

<table class='qTable'>
<td>
	<button id="upvote" type="button" class="btn btn-success btn-sm btn-upvote"><div style="font-size:1.5em"<b><%= @questionUpvotes %></b></div></button>
<br>
	<button id="downvote" type="button" class="btn btn-danger btn-sm"><div style="font-size:1.5em"<b><%= @questionDownvotes %></b></div></button>
</td>

<td>
	<%= @questionContent %>
</td>
</table>
<br>
<br>
<table class='aTable'>


<% @answers.as_json.each do |answer| %>
<tr>

	<td>
		<button id="upvote" type="button" class="btn btn-success btn-sm btn-upvote"><div style="font-size:1.25em"<b><%= answer['upvote'] %></b></div></button>
	<br>
		<button id="downvote" type="button" class="btn btn-danger btn-sm"><div style="font-size:1.25em"<b><%= answer['downvote'] %></b></div></button>
	</td>
	<td>
		<%= answer['text'] %>
	</td>
</tr>
<td></td>
<tr>
</tr>
	<% end %>
<table>
<br>
<br>
<tr>
	<td>
<%= form_for @newAnswer, url: {action: 'create'} do |f| %>
	<%= f.label :text, "Your Answer" %>
	<%= text_field_tag :text, nil, placeholder: 'Answer' %>
	<%= f.hidden_field :question_id, value: @questionID %>
	<%= f.hidden_field :upvote, value: 1 %> 
	<%= f.hidden_field :downvote, value: 0 %>
	<%= f.submit "Submit Answer" %>
<% end %>

	</td>

</td>


<style>
	.qTable{
	font-size:1.5em;
	}
	.aTable {
	margin-left:5em;
	font-size:1.25em;
	}
</style>

<script>
  $('#upvote').click(function(){
  	console.log("upvote clicked")
  });

  $('#downvote').click(function(){
  	console.log("downvote clicked")
  });

</script>

