<h1>Answers#new</h1>
<p>Find me in app/views/answers/new.html.erb</p>

<%= form_for @answer, url: {action: 'create'} do |f| %>
	<%= f.label :content %>
	<%= f.text_area :content %>
	<%= f.hidden_field :upvote, value: 1 %> 
	<%= f.hidden_field :downvote, value: 0 %>
	<%= f.submit %>
<% end %>
