<!-- <div class="container" id="signin">

  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> --> <!-- /container -->

<div class="container">
  <div class="form">
    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
    <h3>Have an Account?</h3>
  </div>
  <div class="modal-body">
    <div class="form-signin well">
      <ul class="nav nav-tabs">
        <li class="active" id='login-tab'><a href="#login" data-toggle="tab">Login</a></li>
        <li id='create-account-tab'><a href="#create" data-toggle="tab">Create Account</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="login">
          <div id="legend">
            <legend class="">Sign In</legend>
          </div>
          <%= form_for :user, url: session_path(resource_name), html: {class: "form-horizontal", id: "signin"} do |f| %>
            <%= f.label :femail, "Email:", class: "control-group" %>
            <%= f.text_field :email, { class: "form-control", type: "email"} %>
            <%= f.label :fpassword, "Password:", class: "control-group" %>
            <%= f.password_field :password, { class: "form-control", type: "password"} %>
            <%= f.submit "Login", class: "btn btn-success" %>
          <% end %>                   
        </div>
        <div class="tab-pane fade" id="create">
          <div id="legend">
            <legend class="">Sign Up</legend>
          </div>
          <%= form_for :user, url: users_path, html: {class: "form-horizontal", id: "signup"} do |f| %>
            <%= f.label :femail, "Email:", class: "control-group" %>
            <%= f.text_field :email, { class: "form-control", type: "email"} %>
            <%= f.label :fpassword, "Password:", class: "control-group" %>
            <%= f.password_field :password, { class: "form-control", type: "password"} %>
            <%= f.submit "Sign Up", class: "btn btn-success" %>
          <% end %>                 
        </div>
      </div>
    </div>
  </div>
  <% if alert.present? %>
    <% binding.pry %>
       <% if alert.include?("Email") || alert.include?("Password") %>
    <script>
      $('#login').removeClass('active').removeClass('in').addClass('fade')
      $('#create').removeClass('fade').addClass('active').addClass('in')
      $('#login-tab').removeClass('active')
      $('#create-account-tab').addClass('active')
    </script>
    <%end%>
  <%end%>
